---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
---

<Layout title="Sistema de Gestión">
	<main>
    <Header />
	</main>
</Layout>

<style>


</style>
